.contacts {
  position: relative;
}

.contacts h2 {
  display: none;
}

.contacts__map {
  height: 807px;
  background: $grey url("../img/map-desktop@1x.png") no-repeat center top;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-desktop@2x.png");
    background-size: cover;
  }
}

.contacts__map iframe {
  display: block;
  width: 100%;
  height: 807px;
  border: none;
}

.contacts__block {
  display: none;
}

.contacts__form {
  position: absolute;
  top: 623px;
  left: calc(50% - 290px);
}

@media (max-width: 1100px) {
  .contacts__form {
    left: calc(50% - 250px);
  }
}

@media (max-width: $tablet-width) {
  .contacts__map {
    height: 348px;
    background: $grey url("../img/map-tablet@1x.png") no-repeat center top;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-tablet@2x.png");
      background-size: cover;
    }
  }

  .contacts__map iframe {
    height: 348px;
  }

  .contacts__form {
    top: 232px;
    left: 65px;
  }
}

@media (max-width: $mobile-width) {
  .contacts h2 {
    @include title($raleway, 20px, 24px);
    @include padding-mobile;
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .contacts__map {
    height: 196px;
    background: $grey url("../img/map-mobile@1x.png") no-repeat center top;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-mobile@2x.png");
      background-size: cover;
    }
  }

  .contacts__map iframe {
    height: 196px;
  }

  .contacts__form {
    position: static;
  }

  .contacts__block {
    display: block;
    background-color: $black;
    border-top: 2px solid $blue;
  }

  .contacts__block-wrapper {
    @include padding-mobile;
    padding-top: 19px;
    padding-bottom: 21px;
  }
}
