.main-screen {
  min-height: 935px;
  padding-bottom: 50px;
  color: $light;
  background: $black url("../img/bg-main-desktop@1x.png") no-repeat center top;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-main-desktop@2x.png");
    background-size: cover;
  }
}

.main-screen__header-wrapper,
.main-screen__advantages-wrapper {
  @include container;
}

.main-screen__header {
  margin-bottom: 115px;
}

.main-screen__header-wrapper {
  padding-top: 152px;
}

.main-screen__header-wrapper h1 {
  @include title($raleway, 72px, 85px);
  margin-bottom: 24px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.main-screen__header-wrapper p {
  margin: 0 0 53px;
  width: 87%;
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
}

.main-screen__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 621px;
}

.main-screen__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 15px;
  width: 300px;
  min-height: 56px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 900;
  color: $black;
  text-align: center;
  text-transform: uppercase;

  &:hover,
  &:focus {
    box-shadow: 0 2px 6.3px 0.7px rgba($blue, 0.65);
  }

  &--services {
    background-color: $blue;
  }

  &--contacts {
    color: $white;
    border: 1px solid $blue;
  }
}

.main-screen__advantages-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

.main-screen__advantages-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.main-screen__advantages-item {
  width: 20.6%;
  margin-right: 18.7%;
  line-height: 20px;
  text-align: center;
  color: rgba($white, 0.6);

  &:last-child {
    margin-right: 0;
  }

  &--handshake p {
    width: 175px;
  }
}

.main-screen__advantages-item svg path {
  fill-opacity: 0.6;
}

.main-screen__advantages-item p {
  margin: 0 auto;
  margin-top: 20px;
}

.main-screen b {
  color: $blue;
}

.main-screen__subtitle {
  display: none;
}

.main-screen__advantages-text {
  display: none;
}

@media (max-width: $tablet-width) {
  .main-screen {
    min-height: auto;
    margin-bottom: 27px;
    padding-bottom: 0;
    background: none;
  }

  .main-screen__header {
    min-height: 600px;
    margin-bottom: 0;
    padding-bottom: 30px;
    background: $black url("../img/bg-main-tablet@1x.png") no-repeat center top;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-main-tablet@2x.png");
      background-size: cover;
    }
  }

  .main-screen__header-wrapper {
    padding-top: 125px;
    padding-left: 84px;
  }

  .main-screen__header-wrapper h1 {
    margin-bottom: 15px;
    font-size: 38px;
    line-height: 46px;
  }

  .main-screen__header-wrapper p {
    width: 95%;
    margin-bottom: 86px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
  }

  .main-screen__button-wrapper {
    width: 600px;
  }

  .main-screen__button {
    width: 290px;
    font-size: 16px;
  }

  .main-screen__advantages {
    background-color: #fefdff;
  }

  .main-screen__advantages-wrapper {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
  }

  .main-screen__slider.swiper-container {
    width: 100%;
    height: 265px;
  }

  .main-screen__advantages-list {
    flex-wrap: nowrap;
    align-items: center;
  }

  .main-screen__advantages-item svg path {
    fill: $black;
    fill-opacity: 0.3;
  }

  .main-screen__advantages-item p {
    width: 190px;
    margin: 3px auto 0;
    font-size: 12px;
    line-height: 16px;
  }

  .main-screen__advantages-item {
    position: relative;
    z-index: 1;
    width: 229px;
    height: 162px;
    margin-right: 0;
    padding: 24px 10px 10px;
    color: rgba($black, 0.7);
    background-color: $white;
    box-shadow: 0 10px 18px 2px rgba($black, 0.02);

    &--settings {
      padding-top: 21px;
      padding-left: 15px;
    }

    &--like {
      padding-right: 15px;
    }
  }

  .main-screen__advantages-item.swiper-slide-active {
    position: relative;
    z-index: 3;
    transform: scale(1.17);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;

    & svg path {
      fill-opacity: 0.7;
    }

    & p {
      color: $black;
      width: 140px;
      margin-top: 10px;
    }
  }

  .swiper-container-horizontal > .main-screen__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 3px;
  }

  .swiper-container-horizontal > .main-screen__pagination.swiper-pagination-bullets {
    bottom: 12px;
  }

  .main-screen__pagination .swiper-pagination-bullet-active {
    background-color: $blue;
  }
}

@media (max-width: $mobile-width) {
  .main-screen {
    margin-bottom: 39px;
  }

  .main-screen__header {
    min-height: 465px;
    padding-bottom: 20px;
    background: $black url("../img/bg-main-mobile@1x.png") no-repeat center top;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-main-mobile@2x.png");
      background-size: cover;
    }
  }

  .main-screen__header-wrapper {
    @include padding-mobile;
    padding-top: 127px;
  }

  .main-screen__header-wrapper h1,
  .main-screen__subtitle {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }

  .main-screen__header-wrapper h1 {
    margin-bottom: 21px;
  }

  .main-screen__subtitle {
    display: block;
    width: 90%;
    margin: 0 auto 60px;
  }

  .main-screen__header-text {
    display: none;
  }

  .main-screen__button-wrapper {
    flex-direction: column;
    width: 100%;
  }

  .main-screen__button {
    width: 100%;
    min-height: 60px;
    padding: 15px;

    &--services {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  .main-screen__advantages-text {
    display: block;
  }

  .main-screen__advantages-wrapper {
    @include padding-mobile;
    padding-top: 34px;
  }

  .main-screen__advantages-wrapper p {
    margin: 0;
    margin-bottom: 21px;
    padding-left: 4px;
    font-size: 12px;
    line-height: 18px;
    color: $black;
  }

  .main-screen__slider.swiper-container {
    height: 240px;
  }

  .main-screen__advantages-item.swiper-slide-active {
    transform: scale(1);
  }

  .main-screen__advantages-item.swiper-slide-active,
  .main-screen__advantages-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    padding: 15px;
    box-shadow: none;
    border: 1px solid #dddddd;
  }

  .main-screen__advantages-item.swiper-slide-active p,
  .main-screen__advantages-item p {
    width: 160px;
    margin: 13px 0 0;
    padding: 0;
    color: $black;
    font-size: 14px;
    line-height: 20px;
  }

  .main-screen__advantages-item svg {
    width: 89px;
    height: 59px;
  }

  .main-screen__advantages-item svg path {
    fill-opacity: 0.7;
  }

  .swiper-container-horizontal > .main-screen__pagination.swiper-pagination-bullets {
    bottom: 0;
  }

  .main-screen__pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }

  .main-screen__pagination .swiper-pagination-bullet-active {
    width: 8px;
    height: 8px;
  }

  .swiper-container-horizontal > .main-screen__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 1px 3px;
  }

  .swiper-container-horizontal > .main-screen__pagination.swiper-pagination-bullets .swiper-pagination-bullet-active {
    margin: 0 3px;
  }
}
