$black: #000000;
$dark: #303030;
$white: #ffffff;
$light: #fffffe;
$grey: #f4f4f4;
$blue: #00ffd7;
$error: #e85e5e;
$roboto: "Roboto", "Arial", sans-serif;
$raleway: "Raleway", "Arial", sans-serif;
$circe: "Circe", "Arial", sans-serif;
$mobile-width: 767px;
$tablet-width: 1023px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
